*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Team Foundation Server
$tf

# Gradle Wrapper
.gradle/
gradle/
gradlew*
gradle.properties

# Build Output / Temp Directories
build/
run/
out/
eclipse/
temp/
bin/

# IntelliJ
wolfarmor*.iws
wolfarmor*.ipr
wolfarmor*.iml
.idea/

#Visual Studio
.vs/

#vscode
.vscode/
bin/

#eclipse
.settings/
wolfarmor_Client.launch
wolfarmor_Server.launch
.classpath
.project

# Misc
CREDITS-fml.txt
forge-1.11-13.19.1.2189-changelog.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
forge-*-changelog.txt
